/* CSS Stylesheet for the Psst microblog */
/* Author: Your Name                     */

html {
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {
	color: black;
	top: 72px;
	left: 60px;
	position: absolute;
	width: 100%;
}
h2 {
	color: black;
	top: 120px;
	left: 100px;
	position: absolute;
	width: 100%;
	font-size: 20px;
}
p {
	color: black;
}
body {
	background-color: #ffe5e5;
	margin: 0;
}

/* Navigation bar modified after https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.topnav {
	overflow: auto;
	background-color: #720000;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 2px 2px #888888;
}
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}
.topnav a:hover {
	background-color: #bc2323;
	color: white;
	transition: .5s ease;
}
.topnav a.active {
    background-color: #ffe5e5;
    color: black;
}

.first {
	float: left;
	width: 500px;
	height: 260px;
	position: absolute;
	border-right: 2px solid #bc2323;
	border-bottom: 2px solid #bc2323;
	box-shadow: 4px 4px 2px #888888;
	top: 170px;
	left: 60px;
}
.second {
	float: left;
	width:500px;
	height:300px;
	position: absolute;
	top: 450px;
	left: 60px;
}
.third {
	width: auto;
	margin-top: 168px;
	margin-left: 650px;
}


.postbutton {
	background-color: #bc2323;
	border: none;
    color: white;
    padding: 10px 96px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.loginbutton {
	background-color: #bc2323;
	border: none;
    color: white;
    padding: 10px 96px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
	margin-top: 20px;
}

.imgsmall {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

form {
	margin-top: 20px;
	margin-left: 20px;
}

textarea {
	resize: none;
	font-size: 20px;
}

input[type=text] {
	width: 75%;
	margin: 8px 0;
    padding: 9px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=password] {
	width: 75%;
	margin: 8px 0;
    padding: 9px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.psst {
    width: 750px;
	height: 60px;
	border: 2px solid #bc2323;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 2px #888888;
	animation: fadein 1s;
}

.paragraph {
	position: absolute;
	color: black;
	margin-top: 200px;
	margin-left: 140px;
	margin-right: 140px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}